<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      
      <% if @match_user %>
        <%= button_to('編集', "/users/#{@user.id}/edit", {method: "get", class: "button-design"}) %>
        <%= button_to('アカウントの削除', "/users/#{@user.id}/destroy", {method: "delete", class: "button-design", data: { confirm: "削除?" }}) %>
      <% end %>
    </div>
  </div>
  <ul class="user-tabs">
    <li class="active"><%= link_to("出品履歴", "/users/#{@user.id}") %></li>
    <li><%= link_to("いいね", "/users/#{@user.id}/likes") %></li>
  </ul>
  <div class="posts-main">
    <%= @user.name%>さんの出品履歴
    <ul class="posts-index">
    <% @user.items.each do |item| %>
      <li class="posts-index-item">
        <div>
          <%= link_to image_tag(item.image), "/items/#{item.id}" %>
        </div>
        <div>
          <%= link_to(item.content, "/items/#{item.id}" )%>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>