<div class="main">
  <ul class="header-menus">
    <li>
      <%= link_to("category", "/") %>
    </li>
    <li>
      <%= link_to("レディース", "/items/category/female") %>
    </li>
    <li>
      <%= link_to("メンズ", "/items/category/male") %>
    </li>
    <li>
      <%= link_to("コスメ/美容", "/items/category/cosmetic") %>
    </li>
    <li>
      <%= link_to("その他", "/items/category/other") %>
    </li>
  </ul>
  <div class="posts-main">
    <ul class="posts-index">
      <% @items.each do |item| %>
        <li class="posts-index-item">
          <div>
            <%= link_to image_tag(item.image), "/items/#{item.id}" %>
          </div>
          <div>
            <%= link_to(item.content, "/items/#{item.id}" )%>
          </div>
          <%= item.money%>円
        </li>
      <% end %>
    </ul>
    <a class="posts-top-buttom" href="/">ページの上へ戻る</a>
    <br>
  </div>
</div>