<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">出品する</h1>
    <%= form_with url: "/items/create",  multipart: true do |form| %>
      <div class="form">
      <div class="form-body">
        <% @item.errors.messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <p>画像</p>
        <%= file_field_tag :image %>
        <br>
        <br>
        <p>出品内容</p>
        <textarea name="content"><%= @item.content %></textarea>
        <br>
        <br>
        <p>カテゴリー</p>
        <select name="category">
          <% if @item.category %>
            <option value="<%= @item.category %>"><%= @item.category %></option>
          <% end %>
          <option value="famale">レディース</option>
          <option value="male">メンズ</option>
          <option value="cosmetic">コスメ/美容</option>
          <option value="other">その他</option>
        </select>
        <br>
        <br>
        <p>値段</p>
        <input type="number" name="money"><%= @item.money %></input>
        <input type="submit" value="出品">
      </div>
      </div>
    <% end %>
  </div>
</div>