<!DOCTYPE html>
<html>
  <head>
    <title>furima</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  
  <header>
    <div class="header-logo">
    <%= link_to image_tag("logo.png"), "/" %>
    </div>
    <ul class="header-menus">
      <li>
        <%= link_to("furima", "/") %>
      </li>
      <li>
        <%= link_to("users", "/users/index") %>
      </li>
      <% if @current_user %>
        <li>
          <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("new", "/items/new") %>
        </li>
        <li>
        <%= button_to("logout", "/logout", {method: "post", class: "button-design"})%>
        </li>
      <% else %>
        <li>
          <%= link_to("login", "/login") %>
        </li>
        <li>
          <%= link_to("sign up", "/signup") %>
        </li>
      <% end %>
    </ul>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
